* {
  box-sizing: border-box;
}

body {
  color: #333;
  background: #fff;
  min-width: 780px;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
} 

body,
button,
input,
th {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  // margin-bottom: 10px;
}

h3 {
  font-size: 12px;
  font-weight: 400;
  // margin-bottom: 10px;
  // padding-bottom: 10px;
  text-transform: uppercase;
  color: #999;
  // border-bottom: 1px solid #ddd;
}


a {
  color: blue;

  &:focus {
    outline: black 2px solid;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.text-right {
  text-align: right;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.folders {
  display: flex;
  gap: 12px;

  &__list {
    flex-basis: 175px;

    &__item {
      position: relative;
      display: flex;
      padding: 0 6px 0 0;
      border-radius: 4px;
      cursor: pointer;
      align-items: center;

      &:last-child {
        margin-bottom: 20px;
      }

      &--active {
        background-color: #efefef;
      }

      &__handle {
        // opacity: 0;
        // visibility: hidden;
        transition: all ease 0.1s;
        margin: 0 5px;
        cursor: move;

        svg {
          display: block;
          fill:#999
        }
      }
      &:hover &__handle {
        // opacity: 1;
        // visibility: visible;

        svg {
          fill: #333
        }
      }

      &__label {
        font-size: 14px;
        border: 0;
        background-color: transparent;
        flex: 1;
        text-align: left;
        padding: 6px 8px;
        color: #666;
        cursor: pointer;
        
        &:hover {
          color: #333;
        }
      }

      &--active &__label {
        color: blue
      }

      .toggle {
        margin-left: auto;
      }
    }
  }
  &__detail {
    flex: 1;
  }
}

.folder {
  opacity: 0.5;
  transition: all ease 0.2s;

  &--active {
    opacity: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      // margin-left: auto;
      margin-left: 8px;
    }
  }
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;

  &__tab {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 0 8px 0 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    // & + & {
      //   margin-left: 10px;
      // }
      
    &--active {
      border-bottom: 1px solid blue;
      // margin-bottom: -2px;
      // background-color: #efefef;
    }

    &__handle {
      cursor: move;
      margin: 0 0 0 5px;

      svg {
        display: block;
        fill: #999;
        width: 12px;
      }
    }
    &:hover &__handle {
      svg {
        fill: #333;
      }
    }
      
    &__label {
      cursor: pointer;
      border: 0;
      padding: 8px 8px 8px 8px;
      background-color: transparent;
      font-size: 13px;
      // font-weight: 500;
      text-transform: uppercase;
      color: #999;
      transition: all ease 0.2s;

      &:hover {
        color: #333;
      }
    }

    &--active &__label {
      color: blue
    }
  }
}

.tab {
  opacity: 0.5;
  transition: all ease 0.2s;
  
  &--active {
    opacity: 1;
  }
}

.panel {
  padding: 8px;
  background: #efefef;
  border-radius: 6px;
  position: relative;
  
  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  &__modal {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    padding: 20px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: rgba(#efefef, 0.75);
    backdrop-filter: blur(5px);
    z-index: 2;
    
    &__actions {
      display: flex;
      gap: 10px;
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
  }
}

.panel + .panel {
  margin-top: 20px;
}

// .row {
//   display: flex;
//   gap: 20px;
//   border-radius: 5px;
//   align-items: center;
//   align-content: center;

//   &__col {
//     flex: 1;

//     &--checkbox {
//       flex-basis: 50px;
//       flex-grow: 0;
//     }
//   } 
// }

// .row + .row {
//   margin-top: 20px;
// }

.field   {
  &__label {
    display: block;
    margin: 0 0 6px 0;
    font-size: 14px;
  }
  &__input {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 6px 10px;
    width: 100%;
    font-size: 15px;
    transition: all ease 0.2s;

    &:hover {
      border-color: #ccc;
    }

    &:focus {
      border-color: #333;
      outline: none;
    }
  }
  
  &__hint {
    border-color: #666;
    font-size: 13px;
    padding: 2px 0 0 5px;
  }

  &--table &__input {
    width: 100%;
    background: transparent;
    border-color: transparent;
    padding: 4px 4px;

    &:hover {
      border-color: #ccc;
    }

    &:focus {
      border-color: #ccc;
      background: #fff;
      outline: none;
    }
  }
}

.checkbox {
  border: 1px solid #ddd;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: all ease 0.2s;

  &:hover {
    border-color: #ccc;
  }

  svg {
    display: block;
    fill: #333;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 15px;
  }

  &--active {
    background-color: blue;
    border-color: blue;
    
    &:hover {
      border-color: blue;
    }

    svg {
      fill: #fff;
    }
  }
}

.toggle {
  border: 1px solid #ddd;
  width: 30px;
  height: 15px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: all ease 0.2s;

  &--large {
    height: 28px;
    width: 50px;
  }

  &:hover {
    border-color: #ccc;
  }

  &__text {
    width: 10px;
    height: 10px;
    background-color: #999;
    text-indent: -6000px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all ease 0.2s;
  }

  &--large &__text {
    width: 20px;
    height: 20px;
  }

  &--active &__text {
    background-color: blue;
    left: 15px;
  }

  &--active#{&}--large &__text {
    left: 25px;
  }
  
  &--warning &__text {
    background-color: red;
  }
  &--active#{&}--warning &__text {
    background-color: blue;
  }
}

.btn-link {
  color: #666;
  padding: 0;
  border:0;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: #333;
  }

  &--active {
    color: #999;
  }
}

.btn {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  gap: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: all ease 0.2s;
  box-shadow: 0 1px 2px 0 rgba(#000, 0.05);

  &--active {
    border-color: blue;
    color: blue
  }

  &--borderless {
    border-width: 0;
  }

  &:hover {
    border-color: #999;
  }

  &:active {
    border-color: blue;
  }

  &--danger, &--danger:hover {
    color: rgb(255, 93, 120);
    border-color: rgb(255, 93, 120);
  }

  svg {
    // transform: scale(0.75, 0.75);
    // fill: red;
    // width: 12px;
    // border: 1px solid red;
  }
}

.btn-group {
  gap: 0;

  .btn {
    border-radius: 0;
    margin-right: -1px;
    position: relative;

    &:hover, &:active {
      z-index: 1;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
      // border-right: 0;
      // padding-left: 15px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      // padding-right: 15px;
    }
  }
}

.btn-icon {
  // border: 1px solid #ddd;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 24px;
  height: 24px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: all ease 0.2s;

  &:hover {
    border-color: #ddd;
  }

  svg {
    width: 18px;
    // height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #666;
    display: block;
  }

  &:hover svg {
    fill: #333;
  }

  &:active svg {
    fill: blue;
  }

  &--active, &--active:hover {
    border-color: blue;
  }

  &--active svg {
    fill: blue;
  }
}

.table {
  width: calc(100% + 16px);
  border-collapse: collapse;
  margin: 0 -8px;

  td, th {
    padding: 5px 8px;
    vertical-align: middle;
  }

  th {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    a {
      color: #333;
    }
  }

  td {
    border-bottom: 1px solid #ddd
  }

  &__short {
    width: 45px;
  }

  tr:nth-child(odd) td {
    // background: rgba(#fff, 0.5);
    // background: rgba(#fff, 1);
  }

  .btn {
    display: inline-block;
  }
}

.empty {
  text-align: center;
  color: #999;

  svg {
    display: block;
    margin: 0 auto;
    display: none;
  }
}

.badge {
  display: inline-block;
  font-size: 8px;
  line-height: 8px;
  background: #333;
  color: #fff;
  padding: 2px 2px;
  border-radius: 10px;
  min-width: 12px;
  text-align: center;
  transform: translateY(-2px);
  margin: 0 0 0 4px;
}

.editor {
  &__trigger {
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all ease 0.2s;
    padding: 0;
    background: transparent;
    border: 0;

    &--locked {
      text-decoration: line-through;
      color: #999;
    }

    &--fallback {
      color: #999;
    }

    &:hover {
      color: #000;
    }

    svg {
      width: 10px;
      vertical-align: middle;
      display: inline-block;
      opacity: 0;
    }
    
    &:hover svg {
      opacity: 1;
    }
  }
}
